<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944049190638-k1pnb24h4sqhfgnsflm96r984dvfvugc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944049190638-k1pnb24h4sqhfgnsflm96r984dvfvugc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>944049190638-44g26lhd69sfkpntiloc1crk0rn3oafu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_fOS2E45joR3rI3IG6O9VwNQnG16PSIo</string>
	<key>GCM_SENDER_ID</key>
	<string>944049190638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMad</string>
	<key>PROJECT_ID</key>
	<string>project-mad-c4c53</string>
	<key>STORAGE_BUCKET</key>
	<string>project-mad-c4c53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944049190638:ios:411a081481f3f9719a25ff</string>
</dict>
</plist>